/*公众号会话单文章视图*/
#reader_node_view {

/*外面边框的宽度*/
    reader_view_width: 350;
/*  内边框的宽度  */
    item_inside_width: 318;
/*  单文章图片的高度  */
    cover_image_height: 178;
    
}
/* 支付和安全相关 */
#attributed_reader_message_node_view  {
    content_view_width: 350;
    content_view_left_inset: 10;
}

/*公众号会话多文章视图*/
#multi_reader_node_view {
    reader_view_width: 350;
    item_inside_width: 318;
/*  第一篇文章图片的高度  */
    reader_top_new_height: 178 "dynamic";
}

/*公众号多文章视图子按钮*/
#read_item_view {

    reader_top_new_height: 178 "dynamic";
    reader_view_width: 350;
    item_inside_width: 318;
}

#hardward_message_node_view {
    node_view_width: 340;
    node_view_height: 171;
    
    notify_node_width: 340;
    notify_node_height: 73;
}

/* 朋友圈 */
#WCTimelineCellView {
    /*正文长度*/
    text_line_width : 300;
    
    more_action_floatView_width : 350;
}
/* 个人相册 */
#WCListViewRowContentView {
/*  个人相册中 日期右侧的宽度  */
    content_view_width : 283;
}

/*朋友圈详情*/
#WCComentDetailViewControllerFB {
/*  朋友圈详情页中 评论 的宽度  */
    comment_view_width : 350;
/*  详情页每行点赞头像个数  */
    comment_head_count_perline : 7;
}

/* 新晒一晒 */
#WCContentItemViewTemplateNewSight {
    /*朋友圈中小视频的宽度  此处按比例缩放的 原来200  */
    cover_image_width : 234;
    /*朋友圈中小视频的高度  此处按比例缩放的 原来150  */
    cover_image_height : 175;
    
    moment_edit_player_width : 105;
    
    commit_complete_offset : 99;
    commit_complete_offset_horizontal : 65;
    chat_bob_width : 0.68;
}

#WCTimeLineCellMediaContentView {

    image_size_max_len : 180;
    image_size_superwide_max_len : 247;
    image_size_superheight_max_len : 82;
    image_size_superheight_min_len : 30;
    multi_image_len : 79;
    image_gird_step_len : 5;
    
    /* 朋友圈中 feed类型的宽度 template news*/
    link_area_width : 300;
    /*  朋友圈分享页面的media 320下是290  */
    forward_link_area_width : 340;
}

/* 朋友圈评论 */
#WCTimeLineCommentCellView {
    /*赞块的左右内间距*/
    like_content_left_margin: 10;
    /*评论宽度（包括了上面的评论左右内间距）*/
    comment_view_width : 304;
}

/* 聊天节点 */

#message_node_view
{
    /*  mail节点单独计算  */
    mail_message_node_width : 305;
    /*  聊天界面图片最大宽度 原来是120 等比放大  */
    message_node_imageNode_maxSizeLimit : 141;
}

/* 主界面 */
#mainframe_table{
    /* 主会话列表项高度 */
    cell_height: 68;

    /*顶部offset*/
    cell_headimg_top_margin:9;
    /*headimg size*/
    cell_headimg_size: 50 50;
    /*left margin*/
    cell_headimg_left_margin:10;
    
    /*   用户名fontsize */
    cell_msglabel_textsize:17;
    /*  用户名上边距  */
    cell_msglabel_top_margin:10.5;
    /*  内容下边距  */
    cell_labelmsg_bottom_margin:10.5;
    /*日期右边距*/
    cell_timelabel_right_margin:10;
    /*chatnotpush right margin*/
    cell_chatnotpushimg_right_margin:10;
}

/* 聊天界面背景图选择界面 */
#ChatBackgroundView {
/*  宽度  */
    cell_img_width : 118;
/*  高度  */
    cell_img_height : 118;
}

#GameCenterImg {
/*  游戏中心横幅宽度  */
    imgcell_img_width : 355;
/*  横幅高度  */
    imgcell_img_height : 106.5;
/*  横幅cell的高度  */
    imgcell_height: 126.5;
}

/* 实时对讲 */
#WXTalkMain {
/*  原来48 现+20  */
    headlist_top : 66;
/*  原来306 现+55  */
    headlist_width : 361;
    headlist_height : 140;
/*  262 + 55/2  */
    led_left : 290;
/*  原来265 +  99/2 */
    push_button_top : 315;
    /*   参加个数的左边距 */
    headlist_membercount_left : 37;
    /*  参加个数的下边距  */
    headlist_label_bottom_margin : 18;
}

/* 聊天界面 名片 */
#share_card_view  {
    card_width: 267;
    card_label_max_width: 221;
}

/* 聊天界面 卡券 */
#app_card_view {
    view_width: 267;
    tip_label_max_width: 221;
    show_title_label_height: 24;
}

/* 聊天界面 位置 */
#location_message_node_view {
    location_view_width: 245;
    lacation_view_height: 138;
    
    label_background_width: 238.5;
/*  这个值竟然是label的上边距。。。  */
    info_label_y_counting: 114;
}

/* 聊体界面 链接 */
#url_message_node_view {
    background_image_width: 256;
    title_label_width: 215;
    detail_label_width: 150;
}

/* 聊天界面 另一种链接 */
#app_default_node_view {
    title_label_width: 215;
    view_width: 256;
    detail_label_width: 150;
}

/* 聊天界面 文件 */
#file_message_node_view {
    background_image_width: 256;
}

/* 聊天界面 商品详情 */
#wcproduct_message_node_view
{
    view_width: 267;
    tip_label_max_width: 221;
    node_view_showlabel_font:12;
    node_view_showlabel_height:20;
}

#AppNoteNodeView {
    record_title_max_width : 215;
    record_bg_width : 240;
}

#AppRecordNodeView {
    /*  +32  */
    record_title_max_width : 215;
    record_des_max_width : 150;
    record_nomedia_des_max_width : 215;
    record_info_max_width : 150;
    record_bg_width : 240;
}

#WCCommitViewController {
    gridimg_size:79 79;
    gridimg_stepWidth : 9;
}

/* 输入框附件栏 */
#input_tool_view_attachment {
    
    attachment_view_margin : 29;
    
}

/*商店表情面板*/
#EmoticonGridView {
    m_intervalX : 30;
}

#MMTipsView {
    background_image_width : 300;
    title_margin_top : 25;
    title_textsize : 18;
    title_color : "#000000";
    img_margin_top : 20;
    
    content_margin_top : 15;
    content_margin_left : 20;
    content_textsize : 15;
    content_color : "#888888";
    
    line_margin_top : 25;
    line_color : "#d2d3d5";
    
    button_height : 50;
    button_text_color : "#09bb07";
    button_textsize : 18;

    bg_image: "popup_bg.png" 10 10  ;
}

/*  通讯录界面 */
#contact_head_image{
    hello_cell_headview_maxcount : 5;
}

/*手势密码*/
#pattern_lock_view {
    circle_radius : 30;
    circle_gap : 40;
    
    tipsView_y : 50;
    tipsView_bottom_offset : 32;
}

#MMTipsView {
    background_image_width : 310;
}

#font_set
{
    alllevel : 15 16 17 18.5 20;
    chatLevel : 15 16 17 18.5 22 26;
}

#login_last_user_view
{
    textBackViewY : 24;
    header_headImage_size : 48;
}


#device_rank_view {
    Rank_View_Table_Header_height : 325;
    tableheader_height : 330;
}

#device_profile_view {
    tableheader_height : 325;
    
    step_content_height : 285;
    step_values_height : 200;
    steps_time_font_size : 12;
    
    tablefooter_height: 70;
}

#CustomEmoticonDetailViewController
{
    gridViewItemWidth : 93.75
}

/* 企业红包收取页面样式 */
#EnterpriseLuckyMoneyRate
{
    x_rate : 1;
    y_rate : 1;
}

#EnterpriseLuckyMoneyBaseView
{
    frame_width : 326;
    frame_height : 473;
}

#EnterpriseLuckyMoneyIconView
{
    view_width : 61;
    view_height : 61;
    top_margin : 40;
}

#EnterpriseLuckyMoneyNickNameView
{
    top_margin : 20;
    font_width : 21;
}

#EnterpriseLuckyMoneyStatusMessView
{
    top_margin : 10;
    font_width : 16;
}

#EnterpriseLuckyMoneyWishView
{
    top_margin : 30;
    left_margin : 45;
    font_width : 22;
}

#EnterpriseLuckyMoneyOpenView
{
    top_margin : 278;
    view_width : 110;
    view_height : 115;
    font_width : 21;
}

#EnterpriseLuckyMoneyPacketView
{
    top_margin : 275;
}

#EnterpriseLuckyMoneyMaskView
{
    view_height : 275;
}

/* 企业红包收取完成页面样式 */
#EnterpriseLuckyMoneyShareNickNameView
{
    top_margin : 25;
    font_width : 17;
}

#EnterpriseLuckyMoneyShareFeeView
{
    top_margin : 20;
    font_width : 80;
}

#EnterpriseLuckyMoneyShareHintView
{
    top_margin : 340;
    font_width : 14;
}

#EnterpriseLuckyMoneyShareButtonView
{
    top_margin : 10;
    left_margin : 40;
    view_height : 44;
}

#EnterpriseLuckyMoneyYenView
{
    left_margin : 8;
    top_margin : 224;
}

#EnterpriseLuckyMoneyAppFollowView
{
    bottom_margin : 20;
    checkbox_width : 18;
    font_width : 17;
    between_margin : 5;
}

/* 企业红包分享页面样式 */
#EnterpriseLuckyMoneyShareIconView
{
    top_margin : 85;
    view_width : 50;
    view_height : 60;
}

#EnterpriseLuckyMoneyShareNickNameView
{
    bottom_margin : 25;
    font_width : 17;
}

#EnterpriseLuckyMoneyNicknameView
{
    top_margin : 120;
    font_width : 14;
}

#EnterpriseLuckyMoneyHintTextView
{
    top_margin : 195;
    font_width : 27;
    top_margin_1 : 249;
    font_width_1 : 17;
    left_margin : 6;
}

#EnterpriseLuckyMoneyShareBtnView
{
    top_margin : 325;
    left_margin : 41;
    view_height : 45;
}

#EnterpriseLuckyMoneyBalanceTextView
{
    top_margin : 3;
}

/* 节日红包显示样式 */
#FestivalLuckyMoneyRate
{
    x_rate : 1;
    y_rate : 1;
}

#FestivalLuckyMoenyBaseView
{
    view_height : 471;
    view_width : 325;
}

#FestivalLuckyMoneyBiaoWordView
{
    left_margin : 78;
    top_margin : 43;
    view_height : 110;
}

#FestivalLuckyMoneySealView
{
    view_height : 25;
}

#FestivalLuckyMoneyMoneyView
{
    top_margin : 199;/*203;*/
    font_width : 60;
    top_margin_1 : 224;/*229;*/
    top_margin_noscroll : 223;/*229;*/
    top_margin_noscroll_1 : 211;
}

#FestivalLuckyMoneyYuanView
{
    top_margin : 240;
    top_margin_1 : 262;/*257;*/
    top_margin_2 : 261;/*257*/
    top_padding : 50;
    top_padding_1 : 46;
    top_padding_2 : 50;
    top_padding_3 : 48;
    left_margin : 8;
    left_margin_1 : 1;
    font_width : 19;
}

#FestivalLuckyMoneyWishView
{
    top_margin : 172;/*170*/;
    top_margin_1 : 202;/*190;*/
    font_width : 22;
    font_width_1 : 22;
}

#FestivalLuckyMoneyOpenView
{
    top_margin : 326;
    font_width : 22;
}

#FestivalLuckyMoneyTitleLabel
{
    top_margin : 377;
    font_width : 12;
}

#FestivalLuckyMoneyNianWordView
{
    top_margin : 90;
    left_margin : 78;
    view_height : 100;
    top_margin_1 : 325;
}

#FestivalLuckyMoneySuccessView
{
    top_margin : 137;
}

#FestivalLuckyMoneyHeadview
{
    view_height : 60;
    view_width : 60;
    top_margin : 80;
}

#FestivalLuckyMoneyNickNameView
{
    top_margin : 144;/*133;*/
    font_width : 19;
}

#FestivalLuckyMoneyReceiveStatusView
{
    top_margin : 420;
    top_margin_1 : 417;
    between_margin : 3;
    font_width : 19;
}

#FestivalLuckyMoneyCancelBtnView
{
    top_margin : 18;
    left_margin : 18;
}

#FestivalLuckyMoneyC2CNodeView
{
    nian_top_margin : 72;
    word_top_margin : 149;
    left_margin_1 : 30;
    right_margin_1 : 22;
    left_margin_2 : 20;
    right_margin_2 : 27;
    bottom_line_width : 19;
    bottom_line_left_padding_1 : 4;
    bottom_line_left_padding_2 : -3;
}

/* Festival lucky money sender view. */
#FestivalLuckyMoneySenderNianWordView
{
    top_margin : 105;
}

#FestivalLuckyMoneySenderWishView
{
    top_margin : 195;
    font_width : 22;
}

#FestivalLuckyMoneySenderMoneyView
{
    top_margin : 212;
    font_width : 60;
}

#FestivalLuckyMoneySenderYuanView
{
    top_margin : 250;
    font_width : 19;
}

#ShakeCardDetailView
{
    background_view_width : 325;
    title_font : 24;
}

#NewYearSweetTimeView
{
    wording_img_width : 265;
    wording_img_top : 29;
    photo_img_width : 340;
    photo_img_bottom : 50;
    tip_font : 15;
}

#NewYearShowListView
{
    tableview_top : 126;
    tableview_height : 380;
    tableview_width : 340;
    
    min_height : 54;
    
    num_top : 13.0;
    num_left : 11;
    num_font : 10;
    num_width : 27;
    
    title_top : 12;
    title_left : 49;
    title_font : 18;
    
    performer_top : 37;
    performer_font : 15;
    
    status_font : 13;
    
    right_margin : 12;
    
    bottom_margin : 10;
}

#NewYearShakeFriendView
{
    head_img_top_margin : 155;
    head_img_width : 76;
    nickname_top_margin : 30;
    nickname_font : 24;
    distance_top_margin : 20;
    distance_font : 19;
    button_top_margin : 50;
    button_size : 245 44;
}

#NewYearFamilyPhotoEntranceViewBegin
{
    bg_img : "NewYearShake_FamilyPhoto_Draw.jpg";
    desc_label_top_margin : 11;
    desc_label_font : 18;
    button_top_margin : 40;
    button_size : 245 44;
    button_font : 18;
    auth_label_top_margin : 10;
    auth_label_font : 16;
}

#NewYearFamilyPhotoEditView
{
    bg_img : "NewYearShake_FamilyPhoto_Edit_top.jpg";
    comment_top_margin : 8;
    comment_left_margin : 12;
    comment_font : 18;
    thumb_top_margin : 175;
    thumb_left_margin : 17;
    thumb_width : 71;
    count_label_font : 16;
    split_line_top_margin : 10;
}

#NewYearFamilyPhotoEntranceViewFinish
{
    bg_top_img : "NewYearShake_FamilyPhoto_Show_top.jpg";
    photo_frame_top_margin : 64;
    photo_frame_left_margin : 22;
    photo_frame_height : 360;
    photo_top_margin : 11;
    photo_left_margin : 11;
    watermark_width : 91;
    watermark_height : 91;
    watermark_right_margin : 7;
    watermark_bottom_margin : 7;
    head_img_top_margin : 5;
    head_img_width : 34;
    nickname_font : 17;
    nickname_left_margin : 8;
    comment_top_margin : 10;
    comment_bottom_margin : 14;
    comment_font : 14;
    shadow_left_margin : 5;
    shadow_height : 7;
    bottom_img : "NewYearShake_FmailyPhoto_Show_bottom.jpg";
    bottom_img_bottom_margin : 12;
    bottom_label_bottom_margin : 21;
    bottom_label_font : 14;
    bottom_label_color : "#BBB29B";
    sponsor_area_height : 80;
    save_btn_top_margin : 7;
    save_btn_size : 105 27;
    save_label_font : 12;
}

#NewYearShakeFrameworkView
{
    sponsor_area_height : 55;
    sponsor_icon_height : 35;
    sponsor_slogan_font : 14;
}

#NewYearHBWaitView
{
    hb_top : 107;
    hb_width : 125;
    
    tip_top : 45;
    tip_font_size : 21.0;
    
    try_again_top : 35;
    try_again_font_size : 26.0;
    try_again_bottom : 11;
    rest_count_font_size : 17.0;
}

#NewYearPostCardView
{
    head_bg_top : 67;
    head_bg_width : 100;
    head_img_top : 22;
    head_img_width : 55;
    content_height : 325;
    name_font : 24;
    name_top : 25;
    remark_font : 15;
    remark_top : 6;
    distance_font : 19.0;
    distance_top : 30;
    btn_top : 29;
    btn_left : 12;
}

#NewYearCardEditView
{
    card_view_left : 20;
    card_view_height : 487;
    camera_top : 100;
    select_tip_font : 17;
    
    head_width : 30;
    head_top : 315;
    head_left : 10;
    bless_bg_left : 45;
    bless_bg_width : 280;
    bless_bg_height : 85;
    
    name_font : 17;
    name_left : 20;
    name_top : 9;
    
    bless_text_top : 0;
    bless_text_left : 14;
    bless_text_font : 17;
    
    location_left : 65;
    location_top : 9;
    location_font : 15;
}

#NewYearShakeMainView
{
    animation_height_up : 90;
    animation_height_down : 90;
}

#WCRedEnvelopesReceiveHomeView { /* #WCRedEnvelopesReceiveHomeView */
    
    bg_image_view_width : 325;
    bg_image_view_height : 470;
    
    head_bottom_image_view_height : 64.5;
    
    head_image_view_y : 40;
    head_image_view_width : 60;
    head_image_view_height : 60;
    
    nick_name_title_y_margin : 15;
    nick_name_title_font : 22;
    nick_name_title_color : "#ffffff";
    
    status_tips_title_y_margin : 10;
    status_tips_title_font : 16;
    
    wishing_tips_y_margin : 26;
    wishing_tips_title_font : 22;
    
    bg_mask_image_height : 275;
    
    open_button_y_margin : 275.5;
    open_button_width : 110;
    open_button_height : 115;
    
    open_desc_title_font : 21;
    
    open_list_bottom_margin : 25;
    open_list_font : 17;
}

#ExtraDeviceLogin
{
    button_inner_offset : 8;
    confirm_button_font : 16;
}

#fts_common {
    education_image_top_margin : 50;
    education_icon_hor_space : 50;
}

#text_actionSheet
{
    button_height : 50 dynamic;
}

#PhotoActionSheet
{
    /*
     height = cell_len + offset * 2
     修改时，要同步修改哦~
     */
    photo_collection_view_height : 190;
    photo_collection_view_cell_len : 184;
    photo_collection_view_top_offset : 3;
}

#widget_tipsbar_base{
    /*左边主要图标*/
    icon_main_right_margin: 15 dynamic;
    icon_main_left_margin: 15 dynamic;
}

#SnsABTestTip
{
    sns_abtest_tip_default_margin_left : 12;
    sns_abtest_tip_default_margin_right : 12;
    sns_abtest_tip_default_button_padding : 28;
    sns_abtest_tip_default_text_font_size : 14;
    sns_abtest_tip_default_icon_content_padding : 8;
    
    sns_abtest_tip_actionlist_margin_left : 15;
    sns_abtest_tip_actionlist_margin_right : 15;
    sns_abtest_tip_actionlist_icon_content_padding : 10;
}

#CardItemView
{
    card_left : 7.0;
	top_height : 7.0;
	normal_height : 136.0;
	tooth_height : 3.0;
	bottom_mask_height : 34.0;
	title_font : 13.0;
	title_2_sub : 8.0;
	sub_title_font : 23.0;
	bottom_font : 13.0;
	logo_width : 55.0;
	logo_left : 14.0;
	logo_top : 20.0;
    head_width: 55.0;
    head_left : 14.0;
    entry_title_font : 20.0;
    entry_sub_title_font : 16.0;
}

#CardDetailView
{
    table_left_margin : 10.0;
    table_right_margin : 10.0;
}

#CardCodeView
{
    begin_y : 60.0;
    bottom_margin : 150.0;
    dashline_margin : 35.0;
    checkbox_fit_y  : 35.0;
    tips_fit_y : 90.0;
    qrcode_img_height : 168.0;
}

#CardConsumedView
{
    icon_start_y : 105.0;
    top_bg_view_height : 370.0;
    bottom_bg_view_height : 205.0;
}

#BizMainHeaderView
{
    height : 135;
    padding-top :30;
}

#WifiView
{
    top-space : 70;
    logo-size : 135;
    left-space : 55;
    large-space : 30;
    normal-space : 30;
    small-space : 18;
    submit-space : 100;
    privacy-space : 100;
    buttom-space : 30;
    bottom-space : 22.5;
    notice-space : 7.5;
    button-height : 34;
    green-button-width : 190;
    white-button-width : 250;
    
    connected-top-space : 60;
    connected-logo-size : 95;
    connected-buttom-space : 70;
    connected-normal-space : 22.5;
    
    new-top-space : 92.5;
    new-logo-size : 80;
    new-notice-space : 7.5;
    new-button-space : 25;
    new-brand-space : 15;
    new-button-top-space : 370;
    new-logo-brandname-space : 25;
    wifi-watermark-width : 114;
    wifi-watermark-height : 17.5;
    wifi-watermark-bottom-space : 15;
    
    guidepage-top-space : 150;
    guidepage-notice-space : 30;
    guidepage-default-font : 15.0;
    guidepage-ssid-large-font : 30.0;
    guidepage-ssid-normal-font : 22.5;
    guidepage-ssid-small-font : 18.0;
    guidepage-button-space : 155;
    guidepage-bottom-space : 15;
    guidepage-wifiName-left-space : 20;
    guidepage-botton-top-space : 370;
    
    main-font : 27.0;
    sub-font : 18.0;
    fail-font : 15.0;
    privacy-font : 12.0;
    success-font : 24.0;
    bottom_notice-font : 9.0;
    
    new-main-large-font : 30;
    new-main-small-font : 25;
    new-sub-font : 14;
}


#WCFacingReceivePayerView { /* #WCRedEnvelopesReceiveHomeView */
    
    totalHeight : 60;
    
    header_image_width : 35;
    header_image_height : 35;
    
    total_money_height : 50;
    total_money_tips_font : 15;
    total_money_money_font : 15;
    
    header_nickname_rightmargin : 10;
    
    payer_nickname_font : 17;
    
    status_font : 17;
    money_font : 25;
    
    payer_name_font:14;
    status_label_font:14;
    money_label_font:15;
}

#WhatsNew { /* what's new */
    
    enterbtn_bottom : 80;
    enterbtn_width : 250;
    enterbtn_height : 53;
    enterbtn_font : 17;
    page1_qr_size : 180;
    page1_qr_b_y : 115;
    page1_text_off_y : 50;
    page1_text_font : 23;
    
    page2_head_size : 108;
    page2_head_y : 160;
    page2_name_font : 23;
    page2_name_off_y : 45;
    page2_text1_off_y : 20;
    page2_text1_font : 23;
}



#PreviewEmotionRecommendedCell
{
    input_phone_view_height : 80;
    input_phone_view_select_address_top_margin : 21;
    cell_height: 110 dynamic;
}

#chargeMobileView
{
    input_phone_view_height : 80;
    input_phone_view_select_address_top_margin : 21;
}

#PreviewEmotionRecommendedCell
{
    cell_height: 110 dynamic;
}

#Emoticon_Board_Store_Recommend_View
{
    cell_left_margin:20;
    cell_top_margin:15;
    cell_width :100;
    cell_height: 125 dynamic;
}

#EmotionStoreHomePageHotCell
{
    cell_height: 155 ;
    cell_label_width: 65 ;
}

#WCOutView {
    /* dial pad */
    dialPadTopMargin : 163;
    padBtnDiameter : 75;
    dialPadVerticalPadding : 15;
    dialPadHorizontalPadding : 28;
    callBtnMarginKeyPad: 30;
    skmBtnsMarginHangupBtn: 90;
    
    /* dial view */
    inputArea_marginTop: 39;
    inputArea_phoneNumber_marginBottom: 10;
    
    /*calling view*/
    headImageMarginTop: 75;
    userLabelMarginTopWhenNoHeadImage: 42;
    
    /*account  view*/
    headerViewHeight: 180;
    balanceFontSize: 18;
    remainingTimeFontSize :50;
    headerImg : "wcoutHeader.png";
    balanceTopMargin : 12;
    remainingTimeTopMargin : 14;
    invalidDateTopMargin:16;
    invalidDateFontSize: 14;
    productBtnTitleSize:26;
}

#NewMultiSelectViewController
{
    select_display_view_height : 120;
    
    select_display_item_topOffset1 : 33;
    select_display_item_topOffset2 : 10;
    select_display_item_leftOffset1 : 16;
    select_display_item_leftOffset2 : 25;
    select_display_item_interSpacing1 : 16;
    select_display_item_interSpacing2 : 25;
    select_display_item_lineSpacing1 : 100;
    select_display_item_lineSpacing2 : 10;
    
    select_viewController_rightBarButton_margin : -9;
}

#MultiTalkTalkingOperateView
{
    title_margin_top : 30;
    title_margin_left : 30;
    title_height : 30;
    title_font_size : 24;
    title_text_color : "#ffffff";
    
    timer_margin_left : 30;
    timer_font_size : 15;
    timer_text_color : "#ffffff";
    
    minimize_button_center_margin_left : 60;
    minimize_button_center_margin_bottom : 125;
    
    hangup_button_center_margin_bottom : 68;
    hangup_button_height : 75;
}

#MultiTalkBeforeTalkingOperateView
{
    hangup_button_margin_center : 50;
    hangup_button_center_margin_bottom : 68;
    hangup_button_height : 75;
}
#MusicPlayerMainViewController
{
    
    bottom_bg_height : 165;
    shade_Gradient_height : 180;
    
    first_page_cover_height : 450;
    second_page_cover_height : 180;
    /*cover_image_offset = (first_page_cover_height-second_page_cover_height)/2 */
    cover_image_offset : 135;
    
    table_view_height_to_top : 230;
    lyrics_table_view_height : 315;
    max_table_view_height : 315;
    
}

#app_emoticon_shared_message_node_view {
    background_view_width: 256;
    title_label_width: 215;
    detail_label_width: 150;
}
