#album_comment_view
{
    font : 14 bold;
}

#album_advertise_link
{
    font : 18 dynamic;
}

#bottom_bar
{
    height : 60;
    button_width : 60;
}

#navigation_bar
{
    landscape_height : 44;
    titleview_fontsize : 20 ;
}

/*基本tipsbar*/
#widget_tipsbar_base{
	/*播放音乐*/
    icon_main_right_margin: 18 dynamic;
    icon_main_left_margin: 23 dynamic;
    title_x : 64 dynamic;
    title_width : 500;
}

#mainframe_table
{
	/*主会话列表项高度*/
	cell_height: 80;
	/*分割线颜色*/
	cell_line_color:#DEDEDE;
	/*top margin*/
	cell_headimg_top_margin:10;
/*  用户名上边距  */
	cell_msglabel_top_margin:15;
    /*  msg下边距，现在iPad下不是对称的了  */
    cell_labelmsg_bottom_margin:17;

	cell_badge_top_margin:-1;
	cell_reddot_top_margin:3;
	/*left margin*/
	cell_headimg_left_margin:15;
	/*right margin*/
	cell_timelabel_right_margin:15;
    cell_timelabel_textsize:13;
	/*headimg size*/
	cell_headimg_size: 60 60;
    /*chatnotpush right margin*/
    cell_chatnotpushimg_right_margin:15;
    /* Original Icon */
    original_icon_width: 31;
    original_icon_height: 13;
    original_icon_offset_nickname:7;
}

#themeMainframeItemView
{
	/*headimg outter frame*/
	HeadFrame : 5 0 54 54  ;
}

#login_common
{
    backgroundColor: #FFFFFF;
    textfield_leftview_width: 103;
    textfield_leftMargin: 15;
    textfield_rightMargin: 10;
    nextbtn_topMargin: 30;
    title_topMargin: 96;
    title_leftMargin: 0;
}

#fill_phone_view_offset
{
    regBtn : 10;
    countryCode : 8;
    pwdView : 8;
    loginBtn : 10;
}

#first_user_view_offset
{
    loginBtn : 15;
    languageBtnY : 3;
    languageBtnX : 40;
    loginBtnWidth : 190;
    loginBtnHeight : 50;
    loginBtnMarginBottom : 75;
    loginBtnMarginBottomLandScape : 30;
    loginBtnMarginLeft : 134;
    loginBtnMarginLeftLandScape : 190;
}

#login_last_user_view 
{
    labelUserNameY : 16;
    labelUserNameFontSize: 18;
    textBackViewY : 30;
    textBackViewWidth : 300;
    btnLoginWidth : 300;
    btnLoginHeight : 50 dynamic;
    btnRegisterBottomMargin : 50;
    textBackViewHeight : 56 dynamic;
    pwdTextFiledHeight : 48 dynamic;
}

#common_default
{
    common_font_size : 17;
    common_font_small_size : 12;
    keyboard_height_portrait : 264;
    keyboard_height_landscape : 352;
}

#message_content_viewController 
{
    content_sepm_margin : 15;
}

#message_node_view
{
    /*文本节点宽度*/
    text_message_node_width : 370 "ew";
    /* width = screen_width - inset */
    text_message_node_landscape_inset : 544 "ew";
    /*  mail节点单独计算  */
    mail_message_node_width : 370;
    /*头像*/
    messgae_node_headImg_width : 40;
    message_node_headImg_height : 40;
    message_node_headImgBorder_width : 47;
    messgae_node_headImgBorder_height : 47;
    message_node_headImgBorder_leftMargin : 17;
    message_node_headImgBoeder_contentMargin : 6;
    
    message_node_content_rightMargin : 16;
    message_node_contentView_leftMargin : 8;
    message_node_contentView_arrowWidth : 10;
    message_node_contentView_rightMargin : 8;
    message_node_contentView_topMargin : 12;
    message_node_contentView_bottomMargin : 12;
    
    message_node_timeNode_height : 25 dynamic;
    message_node_timeNode_fontSize : 13 dynamic;

    message_node_voiceNode_rate : 1.5;
    message_node_voiceNode_height : 56;
    message_node_voiceNode_min_width : 60;
    message_node_voiceNode_max_width : 213;
    message_node_voiceNode_contentMargin : 5;
    message_node_voiceNode_strech_topWidth : 40;

    message_node_imageNode_maxSizeLimit : 320;

    message_node_activity_x : -8;
    
    message_node_translateStatus_btn_offset : 2;
    
    message_node_voipNode_contentHeight_add : 23;
    message_node_voipNode_StatusTextWidth : 210;
    message_node_voipNode_bottom_margin : 0;
}

#input_tool_view
{
    tool_bar_height : 60;
}

/*输入框*/
#input_tool_view_tool
{
    /*tool view height*/
    tool_view_height : 60;
    capture_view_x_inset : 85;
    tool_view_textView_height : 40;
    tool_view_voiceBtn_height : 50;

    /*element inset*/
    tool_view_btn_topMargin : 12.5;
    tool_view_element_margin : 5;
    tool_view_element_inner_margin : 5;
    tool_view_textView_topMargin : 5;
    /*tool_view_textView_topMargin = (tool_view_height-tool_view_textView_contentInset_top-tool_view_textView_contentInset_bottom-tool_view_textView_height)/2*/
    record_btn_topMargin : 5;
}

/* 输入框附件栏 */
#input_tool_view_attachment 
{
	/*icon的大小*/
	text_attachment_item_width : 59;
	text_attachment_item_height : 59;
    text_attachment_label_topMargin : 10;
	/*badge*/
	text_attachment_badge_offset : 38 -10;
	/*键盘高度*/
	text_attachment_height:264;

    /*实际图片位置及大小*/
    text_attachement_rect : 0 0 59 59 ;
    
    attachment_view_margin : 100 "eh";
    attachment_view_margin_landscape : 120 "eh";
}

/*QQ表情面板*/
#QQEmojiGridView
{
    m_edgeLeft : 25;
    m_edgeTop : 15;
    m_intervalY : 20;
    m_intervalX : 35;
    m_itemWidth : 35;
    m_itemHeight : 35;
}

/*QQ表情预览*/
#QQEmojiViewWithPreview
{
    emojiPreviewBackViewScaleX : 2;
    emojiPreviewBackViewScaleY : 2.9;
}

/*表情管理cell*/
#EmoticonManageCell
{
    buttonMarginRight_IOS7 : 15;
}

/*表情面板的导航器*/
#EmoticonBoardPageController
{
    QQEmojiOffsetY : -16;
    EmoticonOffsetY : -25;
    EmoticonOffsetY_desc : -15;
}

/*商店表情面板*/
#EmoticonGridView 
{
	m_row : 2;
	m_column : 4;
	m_edgeLeft : 20;
	m_edgeTop : 30;
	m_intervalY : 20;
	m_edgeTop_desc : 28;
	m_intervalY_desc : 28;
	m_intervalX : 18;
	m_itemWidth : 66.5;
	m_itemHeight : 66.5;
}

/*朋友圈timeline*/
#WCTimeLineViewController {
    head_view_height : 400;
    lineview_padding_left : 40;
    lineview_padding_right : 40;

    input_view_height : 60;
    input_view_textview_height : 40;
    inputView_width_inset : 60;
    expression_btn_topMargin : 0;
    
    emotion_tabbar_height : 264;
}

#WCSelectGroupView {
    group_tabbar_height : 49;
}

#WCTimelineCellView {
    content_width : 550 "ew";
    default_font_size : 16;
    small_font_size : 13;
    /*翻译Brand字体大小*/
    translate_brand_font_size: 12;

    /* sceenwidth - text_message_width_inset = text width */
    text_message_width_inset : 152 "ew";
    text_line_width : 616 "ew";

    headimage_view_len : 50;
    headimage_padding_right : 10;

    margin_left : 40 "ew";
    margin_top : 20 "ew";
    margin_right : 40 "ew";
    margin_bottom : 15 "ew";

    subview_padding_height : 15;
    ad_subview_padding_height : 15;
    subview_next_padding_height_L : 15;
    subview_next_padding_height_S : 10;

    default_lable_height : 20;

    nickname_label_padding_top : 5;
    nickname_label_padding_bottom : 10;
    nickname_label_padding_right : 5;

    operation_btn_right_margin : 0;
    fulltext_view_bottom_margin : 10;

    /*长文本计算*/
    text_single_line_height : 22.5;
    text_line_height : 23;
    text_desc_content_height : 44;
    
    advertise_action_btn_width : 30;
    advertise_action_btn_height : 22;
    advertise_action_btn_margin : 5;
    advertise_logo_font_size : 13;
    advertise_link_font_size : 18;
    
    operate_btn_horizonal_inset : 0;
    operate_btn_vertical_inset : 8;
    
    button_subview_padding_width : 8 dynamic;
    
    more_action_floatView_width : 666 "ew";
}

#WCListHeaderView {
    headimage_bkg_view_padding_right : 30;
    headimage_bkg_view_len : 120;
    nick_label_font_size : 25;
    sign_label_font_size : 16;
    sign_label_padding_left : 30;
    sign_label_padding_right : 30;
    sign_label_padding_top : 10;
}

#WCTimeLineCommentCellView {
    comment_view_width : 618 "ew";
    padding_left : 110 "ew";
    padding_left_offset : 0;
    
    text_font_size : 14;
    
    like_content_margin : 10;
    like_content_left_margin : 10;
    comment_content_margin_left : 10;
    comment_content_margin_top : 7;
    comment_content_margin_bottom : 7;
    
    /*翻译Brand字体大小*/
    comment_translate_brand_font_size: 12;
}

#WCTimeLineCellMediaContentView {
    /*template gird*/
    multi_image_len : 150 "ew";
    image_size_max_len : 300 "ew";
    image_size_superwide_max_len : 460;
    image_size_superheight_max_len : 152;
    image_size_superheight_min_len : 55;
    image_gird_step_len : 5;
    
    /*template news, 链接和类似链接都改这里*/
    music_area_width : 600 "ew";
    link_area_width : 600 "ew";
    client_rect_margin : 5;
    news_image_len : 70 "ew";
    news_none_image_height : 26;
    link_font_size : 14;
    link_title_font_size : 14;
    subview_margin : 10;
    subview_vertical_margin : 10;
    title_top_margin : 15;
    desc_top_margin : 10;
    news_title_single_line_height : 20;
    
    original_icon_width: 40;
    original_icon_height: 17;

    /*template classic*/
    cover_image_len : 70 "ew";
    music_title_single_line_height : 24;
}

/* 晒一晒 */
#WCContentItemViewTemplateSight {
    cover_image_width : 320 "ew";
    cover_image_height : 240 "ew";
}

/* 广告 */
#WCContentItemViewTemplateAdvertise {
    cover_image_width : 600 "ew";
    cover_image_height : 180 "ew";
}

/* 新晒一晒 */
#WCContentItemViewTemplateNewSight {
    cover_image_width : 320 "ew";
    cover_image_height : 240 "ew";
    chat_bob_width : 0.56;
}

/* 我的相册 */
#WCListView {
    head_view_height : 400;
}

#WCListViewRowView {
    time_label_padding_left : 0;
    time_label_margin_left : 30 "ew";
    time_label_width : 175 "ew";
    day_label_font_size : 30 ;
    month_label_font_size : 18 ;
    month_label_height : 20;
    month_label_move_bottom : 11;
    city_label_font_size : 16;
    city_label_padding_top : 20;
    city_label_width : 95;
    city_label_height : 29;
    section_padding_height : 40;
    section_cell_padding_height : 10;
    photo_item_size : 150 "ew";
    photo_item_label_padding_left : 20;
    photo_item_desc_label_font_size : 19;
    photo_item_count_label_font_size : 16;
    photo_item_count_label_height : 18;
    
    contentView_left_offset : 20;
}

#WCListViewRowContentView {
    content_view_width : 555 "ew";
    content_view_height : 140 "ew";
    content_view_margin : 10;
    content_view_padding : 10;
    content_view_media_margin : 0;
    content_view_media_height : 120;
    default_text_font_size : 16;
    default_text_line_height : 23;
}

/*朋友圈详情*/
#WCComentDetailViewControllerFB {
    headerView_head_image_len : 60;
    headerview_head_left_margin : 40 "ew";
    desc_content_inset : 0;
    operation_btn_right_margin : 40 "ew";
    comment_head_image_len : 45;
    comment_head_count_perline : 11;
    comment_view_left_margin : 110 "ew";
    comment_view_width : 618 "ew";
    like_image_content_font_size : 16;
}

#WCCommentView {
    time_font_size : 14;
    normal_font_size : 18;
    content_font_size : 18;
    content_top_margin : 15;
    content_bottom_margin : 15;
    content_right_margin : 10;
    time_label_right_margin : 15;
    head_image_right_margin : 10;
    head_image_left_margin : 38;
    name_label_bottom_margin : 6;
    comment_logo_view_len : 20;
    comment_logo_view_top_margin : 26;
}

#WCCommitViewController {
    textInput_view_topMargin : 10;
    textInput_view_inset : 15;
}

#VoiceSearchBar {
    offsetX_iOS_7_plus : 35;
    offsetX : 32;
}

#ShakeMainView {
    UpViewLogo_Width : 220 "ew";
    UpViewLogo_Height : 120 "ew";
    DownViewLogo_Width : 220 "ew";
    DownViewLogo_Height : 120 "ew";
    SingleView_Y : 116;
}

#TrackRoomMessageNode {
    icon_top_padding : 12;
    text_top_padding : 18;
}

#WXTalkMain {
    headlist_bkg_left : 0;
    headlist_bkg_top : 0;
    headlist_top : 114;
    headlist_width : 680;
    headlist_height : 212;
    headlist_scroll_top : 20;
    headlist_scroll_height : 139;
    headlist_membercount_left : 58;
    headlist_member_item_height : 140;
    headlist_head_item_height : 124;
    headlist_head_image_height : 120;
    headlist_head_image_left : 10;
    headlist_member_item_space : 14;
    headlist_tips_left : 172;
    headlist_timer_right_margin : 110;
    headlist_timer_width : 120;
    headlist_label_bottom_margin : 27;
    headlist_label_height : 26;
    headlist_label_fontsize : 20;
    meter_top : 391;
    meter_top_talking : 123;
    meter_width : 706;
    meter_height : 264;
    led_left : 629;
    push_button_top : 500;
}

#CameraScan {
    qrcode_tips_height : 40;
    book_tips_height : 30;
    ocr_top : 104;
    
    book_crop_area_width : 677 "ew";
    book_crop_area_height : 643 "ew";
}

/*loading View*/ 
#LoadingView {
    bgkView_top_margin : 200;
}

/*公众号会话视图*/
#reader_node_view {
    reader_item_lmargin: 20;
    reader_item_hmargin: 30;
    reader_item_left_inset: 10 "ew";
    reader_view_width: 600 "ew";
    item_inside_width: 560 "ew";
    cover_image_height: 323 "ew";

    rich_text_font: 20.0 "dynamic";
    digest_font: 18.0 "dynamic";
    time_font_size: 16.0 "dynamic";
    read_all_font_size: 18.0 "dynamic";
    
    right_arrow_image:  "Content_Arrow";
    background_image: "ContentList_News";
    background_highlight_image: "ContentList_NewsHL";
    
    node_height_counting: 0;
    digest_height_counting: 30;
    cover_height_counting: 25;
    time_height_counting: 61;     /* 1 + 30 + 30 */
    
    height_alpha: 0;
    width_alpha: 0;
    title_counting: 10;
    title_and_time_margin: 10;
    time_counting: 30;
    cover_counting: 25;
    digest_counting: 35;
    right_arrow_counting: 20;
    content_view_counting: 0;
    
    background_image_left_cap_width: 29;
    background_image_top_cap_height: 34;
}

/*公众号会话多文章视图*/
#multi_reader_node_view {
    reader_item_lmargin: 16 "ew";
    reader_item_hmargin: 20 "ew";
    reader_item_left_inset: 10 "ew";
    reader_view_width: 602 "ew";
    item_inside_width: 562 "ew";
    
    rich_text_default_font: 20.0 "dynamic";
    rich_text_cover_font: 20.0 "dynamic";
    
    reader_top_new_height: 220 "dynamic";
    reader_cover_height: 60;
    
    background_image: "ContentList_News";
    background_highlight_image: "ContentList_News";
    
    oline_background_color: #e1e1e1;
    
    background_image_left_cap_width: 29;
    background_image_top_cap_height: 34;
    
    append_node_view_height: 39;
    
    reader_top_item_top_padding: 16;
    reader_top_item_no_cover_min_height: 70;
    reader_top_item_no_cover_title_min_padding: 12;
    reader_top_item_has_digest_title_min_height: 46;
    reader_top_item_has_digest_title_min_padding: 12;
    reader_top_item_digest_font: 18.0 "dynamic";
    reader_top_item_digest_bottom_padding: 30;
}

/*公众号多文章视图子按钮*/
#read_item_view {
    reader_item_left_inset: 20;
    reader_top_new_height: 220 "dynamic";
    reader_cover_height: 60;
    reader_item_lmargin: 20;
    reader_item_hmargin: 20;
    reader_view_width: 602 "ew";
    item_inside_width: 562 "ew";
    
    cover_title_font: 20.0 "dynamic";
    rich_text_default_font: 20.0 "dynamic";
    
    header_image_margin: 20;
    title_margin: 8;
    header_image_line_margin: 10;
    
    header_background_image_margin: 7;

    reader_top_item_top_padding: 16;
    reader_top_item_no_cover_min_height: 70;
    reader_top_item_no_cover_title_min_padding: 12;
    reader_top_item_has_digest_title_min_height: 46;
    reader_top_item_has_digest_title_min_padding: 12;
    reader_top_item_digest_font: 18.0 "dynamic";
    reader_top_item_digest_bottom_padding: 30;
}

#ui_common_util {
    barbutton_width_max : 134;
}

/*文件消息视图*/
#file_message_node_view {
    title_label_font: 19 dynamic;
    title_label_font_color: #000000;
    
    title_and_detail_margin: 20;
    
    detail_label_font: 16;
    detail_label_font_color: #888888;
    
    thumb_image_height: 120;
    web_image_height: 120;
    thumb_image_hmargin: 15;

    title_label_max_height: 200;
    
    detail_label_max_height: 38;

    node_view_min_height: 158;
    node_view_counting: 3;
    
    thumb_image_and_title_label_margin: 15;
    title_label_and_detail_label_margin: 20;
    
    background_image_width: 400;
    shadow_image_margin: 2;
    
    thumb_image_and_title_label_y_margin: 10;
    
    progress_view_width: 225;
    progress_view_height: 9;
}

#url_message_node_view {
    title_label_font: 19.0 dynamic;

    detail_label_font: 16.0;
    detail_label_text_color: rgb(136,136,136);

    background_image_width: 400;
    title_label_hmargin: 16;
    title_label_width: 360;
    
    thumb_image_view_width: 90;

    title_label_and_thumb_image_margin: 15;
    
    detail_label_width: 260;
    detail_label_max_height: 90;
    
    thumb_image_and_detail_label_margin: 10;
   
    title_label_max_height: 150;
    
    background_image_margin: 46;
}

/*漂流瓶*/
#bottle_animation 
{
    throw_bottle_at_y : 747;
    init_water_at_y : 533;
    init_star_at_y : 576;
    init_bottle_at_y : 576;
    throw_bottle_end_at_y : 533;
}

#attributed_reader_message_node_view  {
    content_view_width: 600 "ew";
    content_view_left_inset: 10;
}

#head_img_reader_message_node_view  {
    content_view_width: 300 "ew";
    content_view_left_inset: 10;
    node_view_width: 400 "ew";
    item_top_margin: 20;
    item_left_margin: 14;
    content_view_left_margin: 70 "ew";
}

#app_emoticon_shared_message_node_view {
    background_view_width: 400;
    background_view_height: 200;
    
    icon_width: 90;

    title_label_width: 360;
    detail_label_width: 260;
    
    title_label_max_height: 150;
    detail_label_max_height: 90;
    
    title_label_font: 19.0;
    detail_label_font: 16.0;
    
    detail_label_text_color: rgb(136,136,136);
}

/*扫封面视图，对应AppProductMessageNodeView*/
#scan_cover_node_view  {
    view_width: 415;
    background_view_width: 400;
    background_view_height: 158;
    
    thumb_image_width: 120;

    title_label_width: 225;
    detail_label_width: 225;
    
    title_label_max_height: 76 dynamic;
    detail_label_max_height: 32;
    
    title_label_font: 19.0 dynamic;
    detail_label_font: 16.0;
    
    detail_label_font_color: #888888;

    thumb_image_and_title_label_margin: 15.0;
    title_label_and_detail_label_margin: 20;
    
    view_width: 415;
    tip_label_max_width: 350;
    node_view_showlabel_font:14;
    node_view_showlabel_height:30;
    split_image_top_margin: 41;
}

#app_default_node_view {
    thumb_image_width: 90;
    
    title_label_width: 360;
    title_label_max_height: 90 dynamic;
    title_label_font: 19.0 dynamic;
    
    view_width: 400;
    
    detail_label_width: 260;
    detail_label_max_height: 90;
    detail_label_font: 16.0;
    
    detail_label_font_color: rgb(136,136,136);

    title_label_and_thumb_image_margin: 15;
    detail_label_and_thumb_image_margin: 10;
    
    view_height_counting: 43;
    
    view_bg_topInset : 30;
    view_bg_leftInset : 25;
    view_bg_bottomInset : 18;
    view_bg_rightInset : 18;
}

#location_message_node_view {
    location_view_width: 430;
    lacation_view_height: 200;

    label_background_width: 423.5;
    label_background_height: 43;
    
    info_label_font: 18.0 dynamic;
    info_label_y_counting: 170;
    
    info_label_sender_left_inset: 12;
    info_label_receiver_left_inset: 19;
}

#share_card_view  {
    tip_label_font: 15.0;
    tip_label_font_color: #888888;

    card_width: 372;  /* 330-8 */
    card_height: 140;
    card_label_max_width: 276; /* 330-8-46 */

    nickname_font: 19.0 dynamic;
    nickname_label_color: #222222;
    
    user_label_font: 16.0;
    user_label_color: #888888;
    
    header_image_view_width: 80;
    header_image_width: 74;
    
    tip_label_top_margin: 16;
    
    split_image_top_margin: 41;
    
    header_image_top_margin: 55;
    
    display_name_label_top_margin: 57;
    
    display_name_label_left_margin: 15;
    
    display_name_and_user_name_margin: 10;
}

#app_card_view {
    view_width: 415;
    tip_label_max_width: 350;
    show_title_label_height: 30;
    split_image_top_margin: 41;
    title_label_font: 16.0;
    detail_label_font: 19.0;
    show_label_font:14;
    thumb_width: 80;
    thumb_height: 80;
}

#mmasset_define {
    asset_view_margin : 12 "ew";
    asset_view_margin_lanscape : 24 "eh";
    asset_view_markView_offset : 8;
}

#iconActionSheet_define {
    rowCount_limit : 6;
}

#text_actionSheet {
    actionsheet_width : 272 "ew";
}

#hardward_message_node_view {
    node_view_width: 320;
    node_view_height: 191;
    
    notify_node_width: 320;
    notify_node_heigt: 80;
}

/* 聊天界面 商品详情 */
#wcproduct_message_node_view
{
    view_width: 415;
    tip_label_max_width: 350;
    node_view_showlabel_font:14;
    node_view_showlabel_height:30;
    split_image_top_margin: 41;
}

#online_device_info {
    deviceViewY : 178;
    tipsLabelYOffset : 30;
    descriptionLabelYOffset : 15;
    logOutBtnWidth : 300;
    logOutBtnHeight : 50;
    bottomLineBottomOffset : 120;
    switchDescYOffset : 32;
    switchYOffset : 24;
}

#expose_result {
    tips_width : 360;
}

#device_rank_view {
    Rank_View_Cell_Score_RightToBound : 70;
    tableheader_height : 460;
    champion_tip_font_size : 30;
    
    h_margin : 40;
    
    normal_height : 148;
    champion_height : 245;
    
    normal_header_image_width : 95;
    champion_header_image_width : 140;
    
    ranknum_width : 75;
    
    header_image_left : 93;
    
    progress_left : 208;
    progress_top : 92;
    progress_right : 175;
    
    scorelabel_top : 47;
    
    nicklabel_left : 208;
    nicklabel_top : 47;
    
    ranknum_font_size : 47;
    ranknum_2digits_font_size : 37;
    ranknum_3digits_font_size : 28;
    other_font_size : 30;
    
    other_Color : #787676;
    
    likebtn_width : 175;
    likebtn_height : 148;
    likecount_to_likeimg : 10;
    
    likebtn_bottom_champion : 39;
    likebtn_bottom_normal : 41;
}

#device_profile_view {
    tableheader_height : 460;
    h_margin : 40;
    header_image_width : 140;
    affect_image_width : 69;
    
    step_content_height : 510;
    step_v_margin : 95;
    step_h_margin : 10;
    step_values_height : 340;
    steps_header_height : 84;
    steps_footer_height : 60;
    steps_title_font_size : 43;
    steps_score_font_size : 53;
    steps_time_font_size : 20;
    steps_point_size : 10;

    tip_font_size : 30;
    tip_height : 66;
    tip_color: rgba(255,255,255,0.6);
    tip_to_affect : 10;
    affect_head_right : 20;
    affect_height : 69;
    
    tablefooter_height: 160;
    tablefooter_button_top : 10;
    tablefooter_button_width : 230;
    tablefooter_button_height : 70;
    tablefooter_button_font_size : 28;
}

/*手势密码*/
#pattern_lock_view {
    circle_radius : 34;
    circle_gap : 40;
    
    tipsView_y : 50;
    tipsView_bottom_offset : 56;
}

/*#MMTipsView {*/
/*    background_image_width : 320;*/
/*}*/

#font_set
{
    alllevel : 15 16 19 23 26;
    chatLevel : 15 16 19 23 26 28;
}

#NewSetFontVC
{
    slider_width : 400;
}

#brand_custom_style_ui_logic_controller {
    tool_bar_height: 60.0;
}

/*公众号自定义菜单*/
#custom_menu {
    tool_bar_height: 60.0;
}

#horizontal_table_view_cell {
    cell_height: 59.0;
    
}

#VoipView
{
    footerActionButtonWidth : 75;
    footerActionButtonHeight : 75;
    toastWindowMarginBottom : 340;
    toastWindowMarginBottomAdpatAudioMode : 340;
    toastWindowMarginBottomAdpatMinimizeMode : 95 dynamic;
    leftButtonMarginLeft : 230;
    rightButtonMarginRight : 230;
    footerButtonMarginButtom : 30;
    secondFooterButtonMarginBottom : 225;
    timerLabelMarginBottom : 145 dynamic;
    netStatusLabelMarginBottom : 55;
}

#CustomEmoticonDetailViewController
{
    gridViewItemWidth : 85.33
}

#AppNoteNodeView {
    record_title_max_width : 365;
    record_bg_width : 390;
}

#AppRecordNodeView {
    /*  +32  */
    record_title_max_width : 365;
    record_des_max_width : 300;
    record_nomedia_des_max_width : 365;
    record_info_max_width : 300;
    record_bg_width : 390;
}

#RecordDetailView {
    head_top_margin : 20;
    head_left_margin : 84;
    right_margin : 84;
}

#NewYearShakeFriendView
{
    head_img_top_margin : 245;
    head_img_width : 115;
    nickname_top_margin : 45;
    nickname_font : 30;
    distance_top_margin : 30;
    distance_font : 24;
    button_top_margin : 85;
    button_size : 390 54;
}

#NewYearFamilyPhotoEntranceViewBegin
{
    bg_img : "NewYearShake_FamilyPhoto_Draw.jpg";
    desc_label_top_margin : 10;
    desc_label_font : 22;
    button_top_margin : 100;
    button_size : 390 54;
    button_font : 18;
    auth_label_top_margin : 8;
    auth_label_font : 17;
}

#NewYearFamilyPhotoEditView
{
    bg_img : "NewYearShake_FamilyPhoto_Edit_top.jpg";
    comment_top_margin : 17;
    comment_left_margin : 28;
    comment_font : 18;
    thumb_top_margin : 237;
    thumb_left_margin : 33;
    thumb_width : 71;
    count_label_font : 15;
    split_line_top_margin : 20;
}

#NewYearFamilyPhotoEntranceViewFinish
{
    bg_top_img : "NewYearShake_FamilyPhoto_Show_top.jpg";
    photo_frame_top_margin : 113;
    photo_frame_left_margin : 93;
    photo_frame_height : 532;
    photo_top_margin : 18;
    photo_left_margin : 18;
    watermark_width : 137;
    watermark_height : 137;
    watermark_right_margin : 11;
    watermark_bottom_margin : 10;
    head_img_top_margin : 7;
    head_img_width : 48;
    nickname_font : 22;
    nickname_left_margin : 12;
    comment_top_margin : 17;
    comment_bottom_margin : 18;
    comment_font : 20;
    shadow_left_margin : 7;
    shadow_height : 11;
    bottom_img : "NewYearShake_FmailyPhoto_Show_bottom.jpg";
    bottom_img_bottom_margin : 12;
    bottom_label_bottom_margin : 35;
    bottom_label_font : 15;
    bottom_label_color : "#BBB29B";
    sponsor_area_height : 126;
    save_btn_top_margin : 19;
    save_btn_size : 172 32;
    save_label_font : 13;
}

#NewYearShakeFrameworkView
{
    banner_left_right_margin : 67;
    banner_bottom_margin : 10;
    banner_height : 40;
    banner_title_font : 17;
    
    content_frame_left_right_margin : 50;
    family_photo_entrance_title_font : 17;
    family_photo_entrance_bottom_margin : 40;
    
    sponsor_area_height : 80;
    sponsor_icon_height : 40;
    sponsor_slogan_left_margin : 10;
    sponsor_slogan_font : 18;
}


#NewYearShakeMainView
{
    animation_height_up : 105;
    animation_height_down : 105;
    
    loading_font : 18;
    newyear_tip_font : 18;
}

#NewYearSweetTimeView
{
    wording_img_width : 445;
    wording_img_top : 40;
    photo_img_width : 568;
    photo_img_bottom : 70;
    tip_font : 17;
}

#NewYearShowListView
{
    tableview_top : 240;
    tableview_height : 560;
    tableview_width : 651;
    
    min_height : 86;
    
    num_top : 15.0;
    num_left : 25;
    num_font : 12;
    num_width : 38;
    
    title_top : 18;
    title_left : 76;
    title_font : 22;
    
    performer_top : 54;
    performer_font : 17;
    
    status_height : 26;
    status_font : 16;
    
    right_margin : 25;
    
    bottom_margin : 17;
}

#NewYearPostCardView
{
    head_bg_top : 165;
    head_bg_width : 125;
    head_img_top : 27;
    head_img_width : 70;
    content_height : 520;
    name_font : 30.0;
    name_top : 48;
    remark_font : 17.0;
    remark_top : 13;
    distance_font : 24.0;
    distance_top : 43;
    btn_top : 45;
    btn_left : 114;
}

#NewYearCardEditView
{
    card_view_left : 217;
    card_view_height : 486;
    camera_top : 113;
    select_tip_font : 16;
    
    
    head_width : 30;
    head_top : 313;
    head_left : 13;
    bless_bg_left : 47;
    bless_bg_width : 274;
    bless_bg_height : 83;
    
    name_font : 16;
    name_left : 16;
    name_top : 9;
    
    bless_text_top : 0;
    bless_text_left : 12;
    bless_text_font : 16;
    
    location_left : 64;
    location_top : 9;
    location_font : 14;
}

#text_actionSheet
{
    button_height : 55 dynamic;
    actionsheet_width : 500 "ew";
    button_separator_line_color : rgba(53,53,53,0.25);
}

#PhotoActionSheet
{
    actionsheet_width : 600;
    actionsheet_container_margin : 80 "er" 700;
    /*
     height = cell_len + offset * 2
     修改时，要同步修改哦~
     */
    photo_collection_view_height : 200 "ew";
    photo_collection_view_cell_len : 190 "ew";
    photo_collection_view_top_offset : 5 "ew";
    
    photo_collection_view_cell_longPic_minWidth : 66 "ew";
    photo_collection_view_content_inset : 10 "ew";
}

#BizMainHeaderView
{
    height : 135;
    padding-top :30;
}

#FavComponent
{
    max_img_width : 300;
}

#WifiView
{
    large-space: 30;
    small-space: 18;
}

#SnsABTestTip
{
    sns_abtest_tip_default_margin_left : 12;
    sns_abtest_tip_default_margin_right : 12;
    sns_abtest_tip_default_button_padding : 28;
    sns_abtest_tip_default_text_font_size : 14;
    sns_abtest_tip_default_icon_content_padding : 8;
    
    sns_abtest_tip_actionlist_margin_left : 15;
    sns_abtest_tip_actionlist_margin_right : 15;
    sns_abtest_tip_actionlist_icon_content_padding : 10;
}

#WCOutView {
    /* round button pad */
    dialPadTopMargin : 300;
    padBtnDiameter : 90;
    dialPadVerticalPadding : 20;
    dialPadHorizontalPadding : 30;
    
    /* dialview */
    inputArea_y: 100;

}

#MultiTalkTalkingOperateView
{
    title_margin_top : 20;
    title_margin_left : 20;
    title_height : 30;
    title_font_size : 24;
    title_text_color : "#ffffff";
    
    timer_margin_left : 20;
    timer_margin_top : 5;
    timer_height : 18;
    timer_font_size : 15;
    timer_text_color : "#ffffff";
    
    minimize_button_center_margin_left : 50;
    minimize_button_center_margin_bottom : 115;
    minimize_button_width : 60;
    minimize_button_height : 60;
    minimize_button_title_margin_top : 8;
    
    hangup_button_center_margin_bottom : 76;
    hangup_button_height : 75;
}

#MultiTalkBeforeTalkingOperateView
{
    hangup_button_margin_center : 50;
    hangup_button_center_margin_bottom : 76;
    hangup_button_height : 75;
    button_interval : 10;
}

#NewMultiSelectViewController
{
    select_display_view_height : 200;
    
    select_display_item_topOffset1 : 28;
    select_display_item_topOffset2 : 10;
    select_display_item_leftOffset1 : 30;
    select_display_item_leftOffset2 : 25;
    select_display_item_interSpacing1 : 30;
    select_display_item_interSpacing2 : 25;
    select_display_item_lineSpacing1 : 100;
    select_display_item_lineSpacing2 : 10;
}

#CardItemView
{
    card_left : 30.0;
    top_height : 7.0;
    normal_height : 136.0;
    tooth_height : 3.0;
    bottom_mask_height : 34.0;
    title_font : 13.0;
    title_2_sub : 8.0;
    sub_title_font : 23.0;
    bottom_font : 13.0;
    logo_width : 54.0;
    logo_left : 14.0;
    logo_top : 21.0;
    head_width: 54.0;
    head_left : 14.0;
    entry_title_font : 20.0;
    entry_sub_title_font : 16.0;
}

#CardDetailView
{
    table_left_margin : 30.0;
    table_right_margin : 30.0;
}

#CardCodeView
{
    begin_y : 60.0;
    bottom_margin : 150.0;
    dashline_margin : 35.0;
    checkbox_fit_y  : 35.0;
    tips_fit_y : 100.0;
    qrcode_img_height : 168.0;
}

#CardConsumedView
{
    icon_start_y : 105.0;
    top_bg_view_height : 500.0;
    bottom_bg_view_height : 320.0;
}

#DesignerEmoji {
    DesignerEmojiVC_CellNumInOneLine: 0; /* iPhone 固定个数然后算宽度，iPad保持最小宽度 */
    DesignerEmojiVC_CellMinWidth: 105;
}
#MusicPlayerMainViewController
{
    second_page_cover_height : 364;
    /*cover_image_offset = (first_page_cover_height-second_page_cover_height)/2 */
    cover_image_offset : 168;
    shade_Gradient_height : 240;

}

#fts_common {
    education_image_top_margin : 60;
    education_icon_hor_space : 60;
}

#EmotionStorePersenalCell {
    view_count_per_row: 0;
}
